.fade {
  &-enter-active,
  &-leave-active {
    transition: opacity 0.5s;
  }

  &-enter,
  &-leave-to {
    opacity: 0;
  }
}

.from-top {
  &-enter-active,
  &-leave-active {
    transition: all 0.5s;
  }

  &-enter-to,
  &-leave {
    opacity: 1;
    transform: translateY(0);
  }

  &-enter,
  &-leave-to {
    opacity: 0;
    transform: translateY(-100px);
  }
}
